<!doctype html>
<html lang="en">
<head>
<title>Peliculas HD</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS v5.2.1 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link rel="icon" href="../img/favicon.png">
</head>
<body>
<header id="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">        
        <a class="btn btn-outline-light" href="../templates/index.html">Inicio</a>
        <a class="btn btn-outline-light" href="../templates/pelicula_nuevo.html">Nueva Pelicula</a>                
    </div>
  </nav>
</header>
<main style="background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);">
    <section >
      <br>
      <h1 style="text-align:center">Información Detallada</h1>
      <br>
        <div class="row justify-content-sm-center" id="app">
            <div  class="card border-dark mb-3-sm-center" style="width: 30rem;">
                <img :src="imagen" :height="500" class="card-img-top" :alt="titulo" v-model="imagen">
                <div class="card-body">
                <h3 style="text-align:center" class="card-title"> {{titulo}}</h3>
                <h5 class="card-title"><b>Descripción</b></h5>
                <p class="card-text">{{descripcion}}</p>
            </div>
            <ul class="list-group list-group-flush">      
              <li class="list-group-item"><b>Año:</b> {{anio}} </li>
              <li class="list-group-item"><b>Duración:</b> {{duracion}} hs.</li>
              <li class="list-group-item"><b>Genero:</b> {{genero}} </li>
            </ul>
            <div class="card-body">
              <a class="btn btn-outline-dark"  href="../templates/peliculas.html">Volver</a>
            </div>
        </div>
    </section>
    <br>
</main>

<footer class="py-3 bg-dark">    
  <div class="container"><p class="m-0 text-center text-white">Proyecto Final &copy; Codo a Codo 4.0</p></div>
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
crossorigin="anonymous"> </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
crossorigin="anonymous"> </script>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../js/pelicula_editar.js"></script>
</body>
</html>